{% extends "layouts/default.njk" %}

{% block body %}

  <div class="wrapper">
    {% include "partials/nav.njk" %}

    <section id="main">
      <div class="container">
        <header>
          <h2>{{project.title}}</h2>
          <div class="addon">
          <form action="/app/project/{{ project.id }}?_method=DELETE" method="POST">
                  <a href="javascript:;" class="btn btn-danger" onclick="parentNode.submit()">Excluir projeto</a>
          </form>
          </div>
        </header>

        <section id="content">
          <nav>
            <div class="sessions">
                {% for document in documents %}
                  <a class="{% if document.id == activeProject %}active{% endif %}" href="/app/project/{{ project.id }}/document/{{ document.id }}">
                      {{document.title}} {{document.id}} {{activeProject}}
                  </a>
                {% endfor %}
            </div>
            <a href="/app/project/{{ project.id }}/document/new" class="btn">Nova seção</a>
          </nav>

          {% if createDocument %}
            <article>
            <div class="project-header">
              <h1>Novo Documento</h1>
            </div>
              {% include 'partials/new.njk' %}
            </article>

          {% else %}
          <article>
            <div class="project-header">
              <h1>{{ currentDocument.title }}</h1>
              <form action="/app/project/{{ project.id }}/document/{{ currentDocument.id }}?_method=DELETE" method="POST">
                  <a href="javascript:;" onclick="parentNode.submit()">Remover seção</a>
              </form>
                  {# <form action="/app/project/{{ project.id }}/document/{{ currentDocument.id }}?_method=DELETE" method="POST">
                    <button type="submit">Remover seção</button>
                  </form> #}
            </div>
              {{ currentDocument.formattedContent | safe }}
          </article>
          {% endif %}


        </section>
      </div>
    </section>

  </div>

{% endblock %}
