{% extends "layouts/default.njk" %}

{% block body %}

  <div class="wrapper">
    {% include "partials/nav.njk" %}

    <section id="main">
      <div class="container">
        <header>
          <h2>{{project.title}}</h2>
          <div class="addon">
            <a href="" class="btn btn-danger">Excluir projeto</a>
          </div>
        </header>

        <section id="content">
          <nav>
            <div class="sessions">
                {% for document in documents %}
                  <a class="{% if document.id == activeProject %}active{% endif %}" href="/app/project/{{ project.id }}/document/{{ document.id }}">
                      {{document.title}} {{document.id}} {{activeProject}}
                  </a>
                {% endfor %}
            </div>
            {# <a href="new.html" class="btn">Nova seção</a> #}
            <a href="/app/project/{{ project.id }}/document/new" class="btn">Nova seção</a>
          </nav>

          {% if createDocument %}
            <article>
              {% include 'partials/new.njk' %}
            </article>

          {% else %}
          <article>
            <div class="project-header">
              <h1>{{ currentDocument.title }}</h1>
              <a href="">Remover seção</a>
            </div>
              {{ currentDocument.formattedContent | safe }}
          </article>
          {% endif %}


        </section>
      </div>
    </section>

  </div>

{% endblock %}
